build
*~
depends
*.root
*.hbook
*.rz
*.out
*.lund
*.s
.sconsign.dblite
*.sum
output/*
submission_warehouse/*
__pycache__
.DS_Store
*.aux
*.log
tex/*.out
tools/aao_rc_point
tools/check_lt_convention
tools/*.txt
tools/*.inp
tools/*.log
